@page
@model ChakriyaJaiya.Pages.GalleryModel

<h1>Photo Gallery</h1>
<div class="gallery">
    <div class="photo">
        <img src="~/images/CKYJY_Sample1.png" alt="Sample Photo 1">
        <p>Sample Photo 1</p>
    </div>
    <div class="photo">
        <img src="~/images/CKYJY_Sample2.png" alt="Sample Photo 2">
        <p>Sample Photo 2</p>
    </div>
    <div class="photo">
        <img src="~/images/CKYJY_Sample3.png" alt="Sample Photo 3">
        <p>Sample Photo 3</p>
    </div>
</div>